.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.movie-intro {
    width: 90%;
}

.movie-detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 1rem 0;
}

.movie-detailLeft {
    margin-right: 30px;
}

.movie-poster {
    width:300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie-detailRight {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-width: 300px;
    flex: 1 1;
}

.movie-detailRightTop > div{
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: .5rem;
}

.movie-name {
    font-weight: 600;
    font-size: 3rem;
}

.movie-voteCount {
    margin-left: 1rem;
}

.movie-genres {
    display: flex;
    flex-wrap: wrap;
    margin: 1.25rem 0;
}

.movie-genre {
    padding: .5rem;
    border: 2px solid white;
    border-radius: 20px;
    margin: 0 1rem 0.5rem 0;
}


.movie-detailRightBottom {
    margin: 2rem 0;
    flex: 0.8;
}

.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}
.synopsisText > div:last-of-type {
    margin-left: auto;
}

.movie-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.movie-links> a{
    text-decoration: none;
}

.movie-heading {
    font-size: 2.2rem;
}

.movie-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    color: black;
    font-weight: bold;
}

.movie-homeButton {
    background-color:rgb(255, 0, 0);
    
}

.movie-imdbButton {
    background-color:#f3ce13;
}

.newTab {
    margin-left: 1.4rem;
}

.movie-production {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}



.movie-productionComapany {
    width: 200px;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}